.Section2 {
    padding: 100px 200px 100px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.Top-Text{
    display: flex;
    align-items: center;
}
.Top-Text > div {
    background-color: #021126;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.Top-Text > span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #FAD100;
    opacity: 0;
}
.TopText-animate {
    transform: translateY(20px);
    animation: section2Textfading 0.6s ease forwards;
}

@keyframes section2Textfading {
    from{
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
    
}
.Section2-Texts{
    width: 400px;
}

.Section2-Texts > h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.07em;
    color: #021126;

}
.Section2-Texts > p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #000000;
}
.Section2-ActionCall {
    display: flex;
    margin-top: 50px;
}
.Section2-ActionCall > .Icon {
    background-color: #021126;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Section2-ActionCall > .Texts {
    background-color: #FAD100;
    height: 50px;
    width: fit-content;
    padding: 0 50px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Section2-ActionCall > .Texts > h3:nth-child(1){
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: #000000;
    margin: 0;

}
.Section2-ActionCall > .Texts >h3:nth-child(2){
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    color: #FFFFFF;
}


.Section2-Right > img {
    width: 320px;
    height: fit-content;
    margin-right: 100px;
}

.Section2-Right > .Slide1 {
    position: absolute;
    margin-top: -130px;
    margin-left: -80px;
    transform: translateY(40px);
    opacity: 0;
    transition: transform 0.6s ease;
}


.Section2Slide1-animate {
    animation: Section2Slide1-slide 0.8s ease 0.9s forwards;
}

@keyframes Section2Slide1-slide {
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    
}
.Section2-Right > .Slide2 {
    position: absolute;
    margin-top: -260px;
    margin-left: 250px;
    opacity: 0;
    transform: translateY(0px);
    transition: transform 0.6s ease;
}

.Section2-Right > .Slide1:hover{
    transform: translateY(-20px);
}
.Section2Slide2-animate {
    animation: Section2Slide2-slide 0.8s ease 0.3s forwards;
}

@keyframes Section2Slide2-slide {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
       transform: translateY(0);
    }
    
}

.Section2-Right > .Slide1:hover,  .Section2-Right >.Slide2:hover {
    transform: translateY(-20px);
}

@media screen and (max-width: 1300px) {
    .Section2 {
        padding: 100px 12vw 100px 12vw;
    }
    .Top-Text > div {
        width: 40px;
    }
    .Top-Text > span {
        font-size: 17px;
    }

    .Section2-Texts {
        width: 320px;
    }

    .Section2-Texts > h1 {
        font-size: 26px;
    }

    .Section2-Texts > p {
        font-size: 15px;
    }

    
    .Section2-ActionCall {
        margin-top: 30px;
    }

    .Section2-ActionCall > .Icon {
        width: 45px;
        height: 45px;
    }
    .Section2-ActionCall > .Icon > svg {
        width: 22px;
    }

    .Section2-ActionCall > .Texts {
        height: 45px;
        padding:0 30px 0 20px;
    }

    .Section2-ActionCall > .Texts > h3:nth-child(1){
        font-size: 13px;
    }

    .Section2-ActionCall > .Texts > h3:nth-child(2) {
        font-size: 14px;
        margin-top: -4px;  
    }

    .Section2-Right svg {
        width: 140px;
    }

    .Section2-Right > img {
        width: 260px;
        margin-right: 50px;
    }

    .Section2-Right > .Slide1 {
        margin-top: -100px;
    }

    .Section2-Right > .Slide2 {
        margin-left: 180px;
    }
}

@media screen and (max-width: 900px) {
    .Section2 {
        padding: 100px 50px 100px 50px ;
        flex-direction: column;
    }

    .Section2-Left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Section2-Texts {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
    }

    .Top-Text > span {
        font-size: 20px;
    }

    .Section2-Texts > h1 {
        text-align: center;
        font-size: 40px;
    }
    .Section2-Texts > p {
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        width: 500px;
        margin-top: -10px;
    }

    .Section2-ActionCall {
        margin-top: 40px;
    }
    .Section2-ActionCall > .Icon {
        width: 60px;
        height: 60px;
    }
    .Section2-ActionCall > .Icon > svg {
        width: 28px;
    }

    .Section2-ActionCall > .Texts {
        height: 60px;
    }

    .Section2-ActionCall > .Texts > h3:nth-child(1){
        font-size: 18px;
    }

    .Section2-ActionCall > .Texts > h3:nth-child(2) {
        font-size: 18px; 
        margin-top: 2px;
    }

    .Section2-Right {
        margin-top: 70px;
    }
    .Section2-Right > img {
        width: 320px;
        margin-right: 0;
    }

    .Section2-Right svg {
        width: 160px;
    }

    .Section2-Right > .Slide1 {
        margin-top: -130px;
    }

    .Section2-Right > .Slide2 {
        margin-left: 250px;
    }
}

@media screen and (max-width: 550px) {
    .Section2 {
        padding: 60px 20px 60px 20px;
    }
    .Top-Text > span {
        font-size: 14px;
    }
    .Section2-Texts {
        width: 300px;
    }
    .Section2-Texts > h1 {
        font-size: 22px;
    }
    .Section2-Texts > p {
        font-size: 14px;
        line-height: 18px;
        width: 280px;
    }

    .Section2-ActionCall > .Icon {
        width: 50px;
        height: 50px;
    }
    .Section2-ActionCall > .Icon > svg {
        width: 22px;
    }
    .Section2-ActionCall > .Texts {
        height: 50px;
        padding: 0 20px 0 15px;
    }
    .Section2-ActionCall > .Texts > h3:nth-child(1){
        font-size: 14px;
    }

    .Section2-ActionCall > .Texts > h3:nth-child(2) {
        font-size: 14px; 
        margin-top: 2px;
    }

    .Section2-Right {
        margin-top: 70px;
    }

    .Section2-Right svg {
        width: 120px;
    }

    .Section2-Right > img {
        width: 200px;
    }

    .Section2-Right > .Slide1 {
        margin-top: -90px;
        margin-left: -60px;
    }

    .Section2-Right > .Slide2 {
        margin-left: 140px ;
        margin-top: -220px;
    }
}

@media screen and (min-width: 1450px) {
    .Section2 {
      padding: 100px 28vw 100px 28vw;
    }
  }