.Header {
    width: 100%;
    height: 90px;
    background-color: #021126;
    box-sizing: border-box;
}
.TopHeader {
    display: flex;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #fff;
    padding: 0 200px 0 200px;
    box-sizing: border-box;
    justify-content: space-between;
}
.Contact {
    display: flex;
    width: 330px;
    justify-content: space-between;
}
.ContactPhone, .ContactEmail {
    display: flex;
    align-items: center;
}
.ContactPhone span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: white;
    margin-left: 6px;
}
.ContactEmail span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 6px;
}
.Socials {
    width: 80px;
    display: flex;
    justify-content: space-between;
}
.Socials > svg {
    cursor: pointer;
}

.BottomHeader {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0 200px 0 200px;
    justify-content: space-between;
    box-sizing: border-box;
}

.Logo {
    background-color: #FAD100;
    width: 150px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.Logo img {
    height: fit-content;
    width: 100px;
    position: relative;
    bottom: -14.5px;
    opacity: 0;
    animation: fadeIn 0.7s ease-in forwards;
}

@keyframes fadeIn {
    from {
        bottom: -25px;
    }
    to{
        bottom: -14.5px;
        opacity: 1;
    }
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.Nav span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    cursor: pointer;
}

.NavContent {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.underline {
    height: 3px;
    width: 0%;
    background-color: #FAD100;
    margin-top: 3px;
    opacity: 0;
}
.animate {
    animation: grow 0.4s ease forwards;
}

@keyframes grow {
    from {
        width: 0%;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}