.Header {
    width: 100%;
    height: fit-content;
    background-color: #021126;
    box-sizing: border-box;
}
.TopHeader {
    display: flex;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #fff;
    padding: 0 200px 0 200px;
    box-sizing: border-box;
    justify-content: space-between;
}
.Contact {
    display: flex;
    width: 330px;
    justify-content: space-between;
}
.Contact-Header {
    display: flex;
    align-items: center;
}
.Contact-Header span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: white;
    margin-left: 6px;
}

.Socials {
    width: 80px;
    display: flex;
    justify-content: space-between;
}
.Socials > svg {
    cursor: pointer;
}

.BottomHeader {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 0 200px 0 200px;
    justify-content: space-between;
    box-sizing: border-box;
}
.Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

.NavLink {
    cursor: pointer;
}
.Nav span{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: #FFFFFF;   
}

.NavContent {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.underline {
    height: 3px;
    width: 0%;
    background-color: #FAD100;
    margin-top: 3px;
    opacity: 0;
}
.animate {
    animation: grow 0.4s ease forwards;
}

@keyframes grow {
    from {
        width: 0%;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

@media screen and (max-width: 1300px) {
    .TopHeader {
        padding: 0 100px 0 100px
    }
    .BottomHeader {
        padding: 0 100px 0 100px
    }
    .Contact-Header span {
        font-size: 11px;
    }
    
}

@media screen and (max-width: 900px) {
    .TopHeader {
        padding: 0 50px 0 50px
    }

    .Contact {
        width: 280px;
    }
    .Contact-Header  span {
        font-size: 10px;
    }
    .BottomHeader {
        padding: 0 50px 0 50px;
    }

    .NavLink {
        cursor: none;
    }

    .Nav{
        width: 180px
    }
    .Nav span {
        font-size : 12px;
    }
}

@media screen and (max-width: 550px) {
    .TopHeader {
        display: none;
    }

    .BottomHeader {
        padding: 0 20px 0 20px;
        height: 70px;
    }

    .Nav {
        width: 180px;
    }

}