.Section4{
    padding: 100px 200px 100px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.Section4-Left {
    margin-top: -60px;
}

.Section4-Slide{
    position: absolute;
    z-index: 3;
    margin-left: 190px;
    margin-top: -70px;
    height: fit-content;
    width: fit-content;
    transform: translateY(0px);
    transition: transform 0.6s ease;
    opacity: 0;
}

.Section4-Slide:hover {
    transform: translateY(-20px );
}

.Section4Slide-Animate {
    animation: Section4Slide-Animate 0.8s ease 0.4s forwards;
}

@keyframes Section4Slide-Animate {
    from{
       transform: translateY(0);
        opacity: 0;
    }
    to {
        transform: translateY(-40px);
        opacity: 1;
    }
}

.Section4-GridSquare {
   height: fit-content;
   width: fit-content;
   position: absolute;
   margin-top: -170px;
   margin-left: -20px;
   transform: translate(0, 0);
   z-index: 1;
   opacity: 0;
}
.Section4GridSquare-Animate {
    animation: Section4GridSquare-Animate 0.8s ease 0.3s forwards
}

@keyframes Section4GridSquare-Animate {
    from{
        opacity: 0;
        transform: translate(0, 0);
    }
    to{
        opacity: 1;
        transform: translate(-40px, 40px);
    }
}

.Section4-Left > img {
    height: fit-content;
    width: 390px;
    position: relative;
    z-index: 2;
}

.Section4-TopText {
    display: flex;
    align-items: center;
}
 
.Section4-TopText > div {
    background-color: #021126;
    width: 50px;
    height: 3px;
    margin-right: 10px;
}

.Section4-TopText > span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #FAD100;
    opacity: 0;
}

.Section4-Right {
    width: 400px;
}

.Section4-Right > h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.07em;
    color: #021126;
}

.Section4-Right > p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #000;
}

.Section4-Profile {
    margin-top: 40px;
    display: flex;
    align-items: center;
    height: fit-content;
}

.Profile-Pic {
    margin-right: 20px;
}
.Profile-Pic > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.Profile-Details {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: space-between;
    padding-bottom: 10px;
    box-sizing: border-box;
    border-left: 3px solid #FAD100;
    padding-left: 30px;
}

.Profile-Details > h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.07em;
    color: #021126;
    margin: 0;
}

.Profile-Details > span {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.07em;
    color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1300px) {
    .Section4 {
        padding: 100px 12vw 100px 12vw;
    }

    .Section4-Left > img {
        width: 330px;
    }

    .Section4-Slide > svg {
        width: 200px;
    }

    .Section4-GridSquare {
        margin-left: 10px;
    }

    @keyframes Section4GridSquare-Animate {
        from {
            opacity: 0;
            transform: (0, 0);
        }
        to {
            opacity: 1;
            transform: translate(-60px, 60px);
        }
    }

    .Section4-GridSquare > svg {
        width: 150px ;
    }
    .Section4-TopText > div {
        width: 40px;
    }

    .Section4-TopText > span {
        font-size: 17px;
    }

    .Section4-Right > h1{
        font-size: 26px;
    }

    .Section4-Right > p{
        font-size: 15px;
    }
    .Section4-Right {
       width: 320px; 
    }

    .Profile-Pic > img {
        width: 40px;
        height: 40px;
    }

    .Profile-Details {
        height: 40px;
    }

    .Profile-Details > h1 {
        font-size: 14px;
        margin-bottom: 3px;
    }

    .Profile-Details > span {
        font-size: 13px;
    }
}

@media screen  and (max-width: 900px) {
    .Section4 {
        padding: 100px 50px 170px 50px;
        flex-direction: column-reverse;
    }

    .Section4-Left {
        margin-top: 50px;
    }
    .Section4-Slide > svg {
        width: 219px;
    }

    .Section4-GridSquare {
        margin-left: 0px;
    }
    .Section4-GridSquare > svg {
        width: 180px;
    }

    .Section4-Right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Section4-Right {
        width: fit-content;
    }

    .Section4-Profile {
        margin-top: 20px;
    }

    .Section4-TopText > span {
        font-size: 20px;
    }
    .Section4-Right > h1 {
        font-size:  40px;
    }

    .Section4-Right > p {
        text-align: center;
        font-size: 22px;
        line-height: 28px;
        width: 500px;
        margin-top: -10px;
    }
    
}

@media screen and (max-width: 550px) {
    .Section4 {
        padding: 60px 20px 100px 20px;
    }

    .Section4-TopText > span {
        font-size: 14px;
    }

    .Section4-Left > img {
        width: 230px;
    }

    .Section4-Profile {
        margin-top: 20px;
    }
    
    .Profile-Pic > img {
        width: 35px;
        height: 35px;
    }

    .Profile-Details {
        height: 35px;
        padding-left: 20px;
    }

    .Profile-Details > h1 {
        font-size: 13px;
    }

    .Profile-Details > span {
        font-size: 12px;
    }

    .Section4-Slide {
        margin-left: 140px;
    }

    .Section4-Slide > svg {
        width: 140px ;
    }

    .Section4-GridSquare {
        margin-top: -150px;
        margin-left: 20px;
    }

    .Section4-GridSquare > svg {
        width: 120px ;
    }
    .Section4-Right > h1 {
        font-size: 22px;
    }

    .Section4-Right > p {
        font-size: 14px;
        line-height: 18px;
        width: 300px;
    }

}

@media screen and (min-width: 1450px) {
    .Section4 {
      padding: 100px 28vw 100px 28vw;
    }
  }